<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871277061461-7nri8ii6fdava6gkgvvo5nom8dqhr6n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871277061461-7nri8ii6fdava6gkgvvo5nom8dqhr6n9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>871277061461-hn5o154qd4bhblcusiousqmfna66dvqk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Gw73IGCMZQctzW4xIROyTV0e2NawCGU</string>
	<key>GCM_SENDER_ID</key>
	<string>871277061461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duytq.flutterchatdemo</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-f1e34</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-f1e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871277061461:ios:2b08f5783d365b0919fbdc</string>
</dict>
</plist>